a {
   color: black
}

section {
  display: flex;
}

@font-face {
  font-family: "myfont";
  src: url("https://fonts.googleapis.com/css?family=Slabo+27px");
}

.portfolio {
   display: grid;
   grid-template: auto auto auto / 1fr 1fr 1fr;
   grid-column-gap: 10px;
   grid-row-gap: 5px;
}

p {
   font-family: "myfont", serif;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #9FCCCA;
}
nav li {
    float: left;
}
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover:not(.active) {
    background-color: #637F7F;
    color: white;
}

nav .active {
   background-color: #3D7F7D;
   color: white;
}

h1 {
   font-family: "myfont," serif;
   color: #3D7F7D;
}

.image img {
   width: 100%;
   max-height: 1000px;
}
